/* https://colorhunt.co/palette/17117 */

html {
	height: 100%;
}

body {
	min-height: 100%;
	max-width: 60em;
	background-color: #eaeaea;
	margin: 0 auto;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**
 * Header
 **/

body > header {
	background-color: #252a34;
	border-bottom: 0.25em solid #ff2e63;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

body > header h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 20px 20px 20px 20px;

}

body > header h1 a{
	text-decoration: none;
	background-color: #252a34;
	color: #08d9d6;
	padding-right: 0.5em;
	border-right: 0.01em solid #ff2e63;
}

body > header form {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	background-color: #252a34;
	color: #08d9d6;
}

body > header form label {
	display: block;
	margin-top: 1.5em;
	padding-right: 1em;
	white-space: nowrap;
	font-size: large;
}

body > header form input {
	display: block;
	margin: 1em 1em;
	border-color: #ff2e63;
	transition-duration: 0.4s;
}

body > header form input:hover {
	background-color: #ff2e63;
	color: #252a34;
}
/**
 * Footer
 **/

body > footer {
	background-color: #252a34;
	color: #eaeaea;
	padding: 0.1em;
}

#homepage {
	margin: 10% auto;
}

/**
 * Main Section
 **/
#homepage a {
	 transition-duration: 0.4s;
 }

#homepage a:link, a:visited {
	background-color: #252a34;
	color: #08d9d6;
	padding: 0.7em 0.5em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}

#homepage a:hover, a:active {
	background-color: #ff2e63;
	color: #252a34;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

input {
	width: 100%;
	padding: 0.6em 1em;
	margin: 1em 0;
	box-sizing: border-box;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: #252a34;
	color: #08d9d6;
	padding: 0.7em 0.5em;
	font-size: medium;
	text-decoration: none;
	cursor: pointer;
}

.button {
	width: 80%;
	box-sizing: border-box;
	display: inline-block;
	background-color: #252a34;
	color: #08d9d6;
	white-space: nowrap;
	text-align: center;
	padding: 0.7em 0.5em;
	margin: 3.5% 10%;
	font-size: medium;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
}


